<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Sitio de Post :3', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menú</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a>Posts</a>
        <ul class="dropdown">
      	  <li><%= link_to 'Lista', controller: '/posts',action: 'index' %></li>
          <li><%= link_to 'Nuevo', controller: '/posts',action: 'new' %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>